* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.header {
    background: purple;
    padding: 30px 0 40px;
}

.logo {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.title {}

.list-product {}

.product {
    border: 1px solid gray;
    padding: 20px 20px 20px 20px;
}

.product-img {}

.product-content {}

.product-title {
    color: purple;
}

.product-desc {
    color: gray
}

.product-price {
    background: pink;
}

.add-to-cart {
    background: purple;
    color: white;
}

.footer {
    border-top: 5px solid purple;
    height: 100px;
    padding: 30px 230px;
}